[2018-11-16 11:38] trampi opened #1 "add e2e tests"
ngx-chat broke tests in another project because of zoning issues with protractor and the xmpp socket. To prevent that in the future, e2e tests should be added.

[2018-11-28 11:39] RaulGaLo opened #2 "not connect to openfire server"
I can not connect to openfire server, any special configuration for this server?

[2018-11-28 11:48] lordoliver commented on #2
Did you allow BOSH clients?

[2018-11-28 13:08] trampi commented on #2
Hello @RaulGaLo,

with the following settings, a connection can be established:
![settings](https://user-images.githubusercontent.com/4292951/49153693-bb2e3d80-f316-11e8-9f5a-8d4d6ff44e4a.PNG)

Use wss and port 7443. Use the domain names instead of the IP so that the TLS-Certificates work.

Do not hesitate if you have further questions :-)

[2018-11-28 13:18] RaulGaLo commented on #2
Work!!!, thank you. (please delete my domain)

[2018-11-30 21:52] #2 closed

[2018-12-08 11:22] lolagardiel opened #3 "Send & recive messages"
Hi guys. I try to send and receive messages and I do not get it. Please, an example. Lola ;)

[2018-12-08 19:41] lordoliver commented on #3
Besides the initialization as shown on readme you just have to call the chatservice like so:
`import { ChatService, ChatServiceToken } from '@pazznetwork/ngx-chat';

export class Whatever {

    constructor(@Inject(ChatServiceToken) public chatService: ChatService) {}

    public sendMessage() {
        const receiver = 'bla@blub.com'; // user bla on blub.com domain
        const merssage = 'Hi!';

[2018-12-08 22:34] lolagardiel commented on #3
thank you very much, it seems that my problems were caused by openfire ssl self-signed and firefox. Does it work correctly in firefox? , I have several incidents always in firefox. Thanks guys )

[2018-12-09 07:10] lordoliver commented on #3
Yes. It should work in Firefox. At least it does for me ;)

[2018-12-12 15:47] trampi commented on #3
Hi @lolagardiel,
you could try to import your self-signed certificate into the firefox browser certificate store. It should work if the domain name matches the self signed certificates common name (CN).

I will close this issue and update the readme with information regarding certificates and using the API for sending messages. Feel free to reopen or to open another issue.
 Cheers!

[2018-12-12 15:47] #3 closed

[2018-12-21 10:47] trampi opened #4 "make plugin dependencies explicit"
at the moment, dependencies between plugins are not explicit and make testing harder. `getPlugin`-calls should be replaced with constructor injection where possible.

[2019-01-09 12:37] trampi opened #5 "sent messages (e.g. via api) should not count towards 'unread messages'"

[2019-05-21 11:41] #4 closed

[2019-05-27 07:19] jesmayer99 opened #6 "error while setting up ngx-chat"
[code]

[2019-05-27 08:18] trampi commented on #6
Hi @jesmayer99,

to help you, I need more information.

* Are you trying to compile the library?
* Which steps do you have taken to get that error message?
* Which commands have you executed?
* Which version of angular are you using?
* Could you provide steps to reproduce the error?

Note that ngx-chat needs @xmpp/client in version 0.3.0, install it via:
[code]

[2019-05-27 08:29] jesmayer99 commented on #6
getting error after running serve using CLI- ng serve
Angular-6.1.10
Angular CLI: 6.2.9
`ERROR in projects/pazznetwork/ngx-chat/src/lib/services/adapters/xmpp/plugins/service-discovery.plugin.ts(109,9): error TS2322: Type '{ identities: { [attrName: string]: any; }[]; features: any[]; jid: string; }' is not assignable to type 'Service'.
  Types of property 'identities' are incompatible.
    Type '

[2019-05-27 08:31] trampi commented on #6
How have you installed the library?

[2019-05-27 08:45] jesmayer99 commented on #6
git clone https://github.com/pazznetwork/ngx-chat.git
sudo npm install

[2019-05-27 09:05] trampi commented on #6
@jesmayer99
I could not yet reproduce your problem here.
Could you run `rm -rf node_moduels` and run `npm install` without sudo? (by the way, running `sudo npm install` is in most cases not a good idea)

After that, you can start the local development build via:
`npm run start`

If that does not help, please post the output of:
[code]

[2019-05-27 09:24] jesmayer99 commented on #6
8.10.0
npm --version
3.5.2

after running rm -rf node_moduels and run npm install without sudo commands i am getting same error

[2019-05-27 10:09] trampi commented on #6
Try a more recent node / npm version.
I could not get npm 3.5.2 to work here, 3.10 was not able to build the library, got errors like these:

[code]

[2019-05-27 11:01] jesmayer99 commented on #6
After running on node v10.15.1 and npm 6.9.0 this typo occurs

ERROR in src/app/app.component.ts(6,5): error TS2305: Module '"/home/user/PycharmProjects/ngx-chat/src/app/ngx-chat-imports"' has no exported member 'ChatBackgroundNotificationService'.
src/app/app.component.ts(7,5): error TS2305: Module '"/home/user/PycharmProjects/ngx-chat/src/app/ngx-chat-imports"' has no exported member 'ChatListSt

[2019-05-27 12:06] trampi commented on #6
Hi,
thats better!

Try `npm start` instead of `ng serve`.
`npm start` builds the library and runs the demo application, while `ng serve` only runs the demo application (and requires an already built library, which you do not have at the moment).

[2019-05-27 12:14] jesmayer99 commented on #6
thanks it's solve my issue

[2019-05-27 13:10] trampi commented on #6
You're welcome, do not hesitate if you have further questions :-)

[2019-05-27 13:10] #6 closed

[2019-05-30 05:48] jameskentTX opened #7 "ejabberd configuration"
Could you please add your ejabberd.yml to documentation?
I'm trying - with partial success - to view your ngx-chat, but MUC doesn't work (individual chat works very well). Pidgin client see rooms on my ejabberd server, but your app doesn't.
I guess maybe if I update my ejabberd server configuration according to your guidelines, MUC will work.

I have ejabberd 19.02.131, compiled from source.

**Up

[2019-05-31 04:54] shejinbasheer01 opened #8 "Cannot setup Group chat"
I am Trying to include group chat. but my room array is always empty. Please help me on this. I can access my rooms via other xmpp clients. But here it is not loading.

[2019-05-31 04:57] shejinbasheer01 commented on #7
How did you fetch the rooms? for me the $rooms is always empty

[2019-05-31 05:03] jameskentTX commented on #7
I didn't.
ngx-chat doesn't see ejabberd rooms, that's the problem I'm trying to solve

[2019-05-31 07:15] trampi commented on #8
Hello @shejinbasheer01,
at the moment, ngx-chat does not fetch / join Rooms automatically.

To join a room, you can do the following:
[code]

To automatically join your favorite rooms after login, you can use the `BookmarkPlugin` to store / load the rooms to join, e.g. via:
[code]

To automatically save your favorite rooms after joining a room, you could do this:
[code]

If this does not solve you

[2019-05-31 08:44] #7 closed

[2019-05-31 08:45] trampi commented on #7
Hello @jameskentTX,

if it works with other clients, you probably won't need ejabberd.yml tweaking ;-)
[Here is a video, demonstrating how to join a MUC in the demo app.](https://owncloud.trampusch.info/index.php/s/RnstBFdEWreg7A5)

Currently, ngx-chat does not implement the API to fetch the room list from the server.
However, according to the spec that should be pretty straightforward to implemen

[2019-05-31 08:57] jameskentTX commented on #7
Thanks Trampi for your reply. But without changes in ejabberd.yml your app didn't work for me.
I had to remove mod_vcard module, because this module changes stanza structure, push "x" in second position in stanza children. And your function isRoomPresenceStanza is analyzing child with index 0.

Your code is awesome. I'm learning a lot from it.
but this:
const roomJoinedPromise = new Promise(resolv

[2019-05-31 09:10] jameskentTX commented on #8
@shejinbasheer01:

Remove mod_vcard module from ejabberd.yml

[2019-05-31 09:19] trampi commented on #7
Hah, thank you, that makes sense and is definitely a bug. I'll fix it today.

I can't understand how it works. It's mind-bending :D

I'll try to explain it :-)
The intention behind that code is, to wait until the server acknowledged the room join. Let me make a simple example to explain it:
[code]

Now, someone can resolve the promise somewhere else by calling:
`this.promiseToResolveLater()`. Afte

[2019-05-31 09:39] jameskentTX commented on #7
Mind-bending and so simple! :D
Now I understand, at last! :) Thank you very much for your excellent explanation.

[2019-06-01 07:34] jameskentTX opened #9 "ExpressionChangedAfterItHasBeenCheckedError"
First message to chat room generates well known `ExpressionChangedAfterItHasBeenCheckedError` error:

[code]

Hey Trampi, I will suggest some changes now, but keep in mind I'm not a professional programmer, so look at my suggestions very carefully, as they may harm your app in places I don't see.

You can eliminate `ExpressionChangedAfterItHasBeenCheckedError` error if you subscribe to contacts.
I

[2019-06-05 07:27] trampi commented on #9
Hi @jameskentTX,
awesome, thank you for your work!

I will integrate your proposed changes until the next release.

[2019-06-07 05:44] singhsandeepsln opened #10 "how integrate in our admin panel"
how integrate in our admin panel
Angular CLI: 1.7.4
Node: 10.16.0
OS: linux x64
Angular: 5.2.11

[2019-06-07 05:57] singhsandeepsln commented on #10
WARNING in ./node_modules/@angular/cdk/esm5/platform.es5.js
102:50-68 "export 'ɵɵdefineInjectable' was not found in '@angular/core'

[2019-06-07 06:21] singhsandeepsln commented on #10
getting error
Socket.js:4 Uncaught ReferenceError: global is not defined
    at Object../node_modules/@xmpp/plugins/websocket/lib/Socket.js (Socket.js:4)
    at __webpack_require__ (bootstrap:76)
    at Object../node_modules/@xmpp/plugins/websocket/lib/Connection.js (Connection.js:3)
    at __webpack_require__ (bootstrap:76)
    at Object../node_modules/@xmpp/plugins/websocket/index.js (index.js:3

[2019-06-07 06:28] trampi commented on #10
Hi @singhsandeepsln,

We do not support Angular 5.

As said in the requirements, you have to use Angular 6, support for Angular 8 is coming in the next days. We will skip Angular 7.

Do not hesitate to ask again or reopen the ticket if you have further questions!

[2019-06-07 09:31] singhsandeepsln commented on #10
getting error

Uncaught TypeError: Object(...) is not a function
    at platform.es5.js:102
    at Object../node_modules/@angular/cdk/esm5/platform.es5.js (platform.es5.js:104)
    at __webpack_require__ (bootstrap:76)
    at Object../node_modules/@angular/cdk/esm5/text-field.es5.js (text-field.es5.js:1)
    at __webpack_require__ (bootstrap:76)
    at Object../node_modules/@pazznetwork/ngx-chat/f

[2019-06-07 09:55] trampi commented on #10
Please provide the output of `ng -v`.
Could you upload a [Minimal, Reproducible Example](https://stackoverflow.com/help/minimal-reproducible-example), e.g. in a repository on GitHub?

[2019-06-07 10:20] singhsandeepsln commented on #10
Angular CLI: 6.0.8
Node: 10.16.0
OS: linux x64
Angular: 6.1.10

[2019-06-07 10:22] singhsandeepsln commented on #10
I have simply created new project using `ng new chat` and followed installation instruction given in your repository

[2019-06-07 10:39] trampi commented on #10
Please add the following to the bottom of your polyfills.ts:
[code]

[2019-06-07 10:56] singhsandeepsln commented on #10
after adding i am getting error in web console
Uncaught TypeError: Object(...) is not a function
    at platform.es5.js:102
    at Object../node_modules/@angular/cdk/esm5/platform.es5.js (platform.es5.js:104)
    at __webpack_require__ (bootstrap:76)
    at Object../node_modules/@angular/cdk/esm5/text-field.es5.js (text-field.es5.js:1)
    at __webpack_require__ (bootstrap:76)
    at Object../node

[2019-06-07 11:04] trampi commented on #10
I created a fresh angular 6 sample app for you.
https://github.com/trampi/ngx-chat-angular6

By the way, please post the complete output of `ng -v`, because I looks like you might have a dependency problem. It should look like this:
[code]

Have you tried to `rm -rf node_modules` and reinstall your dependencies?

[2019-06-07 11:38] singhsandeepsln commented on #10
please check the complete output of ng -v
`Angular CLI: 1.7.4
Node: 10.16.0
OS: linux x64
Angular: 6.1.10
... animations, common, compiler, compiler-cli, core, forms
... http, language-service, platform-browser
... platform-browser-dynamic, platform-server, router

@angular/cli: 1.7.4
@angular-devkit/build-optimizer: 0.3.2
@angular-devkit/core: 0.3.2
@angular-devkit/schematics: 0.3.2
@ngtools/json

[2019-06-07 11:42] trampi commented on #10
please run `ng -v` in your project directory. You are missing @angular/cdk.

[2019-06-10 05:50] jameskentTX commented on #9
It's nothing. Everybody can make such easy and rude changes. But only you can... update @xmpp/client to newest version :D This library is almost 2 years old and has a lot of dependencies which were updated as well.

[2019-06-13 13:11] trampi commented on #9
Hey @jameskentTX,
I will do that, but I do not know when. I did investigate into updating @xmpp/client but want to also minimize the bundle size of ngx-chat. Because I could not selectively include what i need starting with 0.5.0 I postponed the update of @xmpp/client. I do not know about real disadvantages in ngx-chat because of the older @xmpp/client.

If you need a newer version of @xmpp/client

[2019-06-14 09:10] shejinbasheer01 commented on #8
thank you for your response

[2019-06-14 09:11] shejinbasheer01 commented on #8
Still i am having an issue
it is only fetching one group
my contacts are subscribed to at least 5 to 6 groups. But it is only fetching 1 group

[2019-06-14 15:28] jameskentTX commented on #9
I didn't know about bundle size issue. In such circumstances there is probably no need to update ngx-chat. I don't need newer version of @xmpp/client, I've just thought that it's would be worth to update to newer version, because of many updates in @xmpp/client and it's dependencies.

I noticed that there is no possibility to lazy load ngx-chat. Am I correct?
I could use lazy loading of ngx-chat b

[2019-06-19 07:17] jameskentTX commented on #9
Hi Trampi!
I had to correct small detail in package.json and loosen types to successfully compile ngx-chat:

1. package.json
"typescript": "~3.4.5",
2. service-discovery.plugin.ts
identities: any[]; // Identity[];
3. multi-user-chat.plugin.ts
export interface RoomSummary {
    jid?: string;
    name?: string;
}

[2019-06-19 07:49] #10 closed

[2019-06-19 07:52] trampi commented on #8
Hi @shejinbasheer01,
I could reproduce it locally. I will investigate and provide feedback shortly.

[2019-06-19 13:41] trampi commented on #8
Hi @shejinbasheer01,
I just released ngx-chat@0.3.4 and ngx-chat@0.4.0, both fixing the bug you reported.
Please note that 0.4.0 requires Angular 8. You can use 0.3.4 if you are not yet using Angular 8.

You need to slightly modify the code I've sent you:
[code]

I am closing this issue, if you have further questions do no hesitate to reopen this issue or open a new issue.

All the best,
trampi

[2019-06-19 13:41] #8 closed

[2019-06-19 14:02] trampi commented on #9
Hi @jameskentTX,

Yeah, thats true. We had no use-case where lazy-loading ngx-chat is necessary et.

Can you provide the output why the typescript currently used does not work?

Can you provide the error of the compiler here as well? I do not see where the types might not fit.

Same as above 😄

Do you provide a custom contact source for `<ngx-chat></ngx-chat>`?

As the original issue is solved, I

[2019-06-19 14:02] #9 closed

[2019-06-20 08:23] jameskentTX commented on #9
Just clone ngx-chat, load dependencies with yarn install and you'll get these errors.
If you use npm there is runtime error only, if you try to log in.

[2019-07-18 07:20] jameskentTX opened #11 "retrieve MUC messages from archive"
Hi Trampi!
I had some problems with retrieving MUC messages from archive, but it was wrong configuration of my ejabberd server (history: 0).
I changed configuration, deleted and created new database, restarted server and.... voila! Everything is working great! :))))
I have spend over two days trying to find errors in your code, but as usual, there are no errors in your rock solid code, there is my

[2019-07-18 10:17] #11 closed

[2019-07-24 12:43] jameskentTX opened #12 "Is it possible to view in real time list of all users which have joined selected room?"
Hi Trampi!
Is it possible to view in real time list of all users which have joined selected room? And see their status.
In a way similar to Roster for Contacts: on the right side of screen, in a window which we can show/hide?

[2019-07-24 12:59] jameskentTX opened #13 "(contacts | async).length throws error"
Hello Trumpi!
Fresh git clone, npm install, change in ngx-chat-imports.ts to development:
`export * from '../../projects/pazznetwork/ngx-chat/src/public_api';`

If you run app (npm start) and log in, `(contacts | async).length` throws error

This error disappears if you change line 12 in roster-list.component.html to:
'<ng-container *ngIf="(contacts | async)**?**.length > 0">'

[2019-07-24 14:55] trampi commented on #12
Hi @jameskentTX,
at the moment, this is not implemented.
It's possible, though.

### Technical details
After joining a room, we get log messages about stanzas like this:
[code]

These stanzas contain the information about who is in which room.
The moment a new user joins the room, we also get the stanza above.

If a user in the channel leaves, we get the following stanza:
[code]

It shouldn't be t

[2019-07-24 14:57] trampi commented on #13
Do you have the latest commit checked out? Do you have any changes? Couldn't reproduce it here. Are you perhabs using 'Toggle contact list'?

[2019-07-25 07:35] jameskentTX commented on #13
Yes, I used latest commit. This error appears in development mode only.
`RosterListComponent.html:3 ERROR TypeError: Cannot read property 'length' of null
    at Object.eval [as updateDirectives] (RosterListComponent.html:12)`
Forget it, if you can't reproduce, it's small thing.

[2019-07-25 07:57] jameskentTX commented on #12
My programming is very basic and rude, I really can't add my bad code to your app. It's not a good idea, but thank you for proposition.

[2019-10-07 11:28] #13 closed

[2019-10-07 11:51] jameskentTX opened #14 "ngx-chat won't compile with "enableIvy": true"
Hello Trumpi!
Your app won't compile if you enable ivy by adding `enableIvy": true` to "angularCompilerOptions" in `tsconfig.json` file ( https://angular.io/guide/ivy ).

I don't know if is possible to have ivy enabled and still using your app, so please take a look at this problem, if you find free moment.

With ivy enabled there are many, many build errors, like this:

[code]

[2019-10-19 11:57] jameskentTX commented on #14
Hello Trumpi!
I have updated my app to run with Ivy enabled. Your app is working too.
I made mamy many changes, so I don't know yet which are crucial, and which are unnecessary.

Problem was with directories.
I used suggestions from:
https://dev.to/negue/angular-ivy-overcome-the-first-obstacles-400n

I made these changes:
- added `"@libs/api": ["projects/pazznetwork/ngx-chat/src/public_api"]`
to `

[2019-10-23 07:50] trampi commented on #14
Hi @jameskentTX,

thank you for reporting this. I will have a look at this to ensure compatibility of ngx-chat with ivy.

PS: It's tr**a**mpi, not tr**u**mpi 😉

[2019-10-28 15:39] trampi opened #15 "Error when connecting to ejabberd on magicbroccoli.de"
When connecting with ejabberd 18.12.1-2~bpo9+1 on magicbroccoli.de, the connection errors and hangs. Might be caused by an "empty" account without messages / contacts.

[code]

[code]

xmpp domain: magicbroccoli.de
host websocket endpoint: wss://magicbroccoli.de/xmpp-websocket

[2019-10-28 15:46] trampi opened #16 "Error when connecting to Openfire 4.4.2"
A user reported a bug regarding the interoperability of ngx-chat with Openfire 4.4.2

might be related with #15

[2019-10-28 15:46] trampi opened #17 "Error connecting to prosody"
A user reported a bug regarding the interoperability of ngx-chat with prosody.

Might be related with #15

[2019-10-28 15:47] trampi opened #18 "ngx-chat sends the entire JID instead of the node-part when logging in"

[2020-02-12 14:05] jameskentTX opened #20 "Login throw error when `contact` input in `ChatMessageListComponent` is undefined"
Error:
Cannot read property 'messages$' of undefined
    at ChatMessageListComponent.ngOnInit (pazznetwork-ngx-chat.js:3788)

From `app.component.html`:
`<ng-template #messagesComponentInformation>You need to be logged in and have contacts to see this component</ng-template>`

Description clearly states "You need to be logged in and have contacts to see this component".
But there is no check in th

[2020-02-12 14:26] jameskentTX opened #21 "Room name doesn't show any change after user join room"
Before join:
`polityka (0): polityka@conference.pc17.home`

After join:
`polityka (0): polityka@conference.pc17.home`

Should be:
`polityka (1): polityka@conference.pc17.home`

You have to click "List all rooms" to see updated names, but it should definitely update automatically. It's important to see in real time number of users in rooms.

[2020-02-15 12:15] jameskentTX opened #22 "ExpressionChangedAfterItHasBeenCheckedError"
Fresh install, npm install.

Login, List all rooms, join
Then when I send a message I have ExpressionChangedAfterItHasBeenCheckedError:

`AppComponent.html:77 ERROR Error: ExpressionChangedAfterItHasBeenCheckedError: Expression has changed after it was checked. Previous value: 'ngIf: [object Object]'. Current value: 'ngIf: false'.`

The only difference in my code is additional check in ng-containe

[2020-02-17 09:26] trampi commented on #21
Hi @jameskentTX, I will have a look at this, you're right, it should definitely live update!

[2020-02-17 09:26] trampi commented on #20
will investigate

[2020-02-17 14:22] jameskentTX opened #23 "problem with queryAllRooms() function"
My `roomResponse` doesn't have `fin` child, so `while` loop is **never** executed.
I'm using ejabberd 19.09.2, PostgreSQL database. There is archive table and there are messages in it.

**I don't see `fin` child in XEP-0030 Service Discovery specification.**

my `roomResponse`:

[code]

[2020-02-18 10:48] jameskentTX commented on #21
Thanks.

[2020-02-24 10:25] RichardSiegel opened #24 "stop squashing avatar images"
atm. avatars are always squashed into the 1:1 ratio.

[2020-02-24 11:40] jameskentTX opened #25 "discoverServices() function produces incorrect results"
The problem is because app doesn't process info nodes: `https://xmpp.org/extensions/xep-0030.html#info-nodes`

[code]

Code above maps according to `jid`, but info nodes in my case (or maybe always, I don't know) have the same `jid`.

My response from server:
[code]

[code]

`serviceDomains` result in my case:
`Array(12)
0: "conference.pc17.home"
1: "proxy.pc17.home"
2: "pubsub.pc17.home"
3: "uplo

[2020-03-09 10:50] harishreddy311 opened #26 "error , cannot get the files"
as per the given instructions i ran the application but application is not executing

[2020-03-09 11:21] trampi commented on #26
Hi @harishreddy311,
do you get any error messages? Could post the output of the console?
Without further information I can not help.

[2020-03-09 14:13] zlyfer opened #27 "global not defined"
Hello, I tried to get ngx-chat to work using Ionic 5 & Angular 8 but after importing like described in the README I get following error:
`
Uncaught ReferenceError: global is not defined (index.js:43)
    at Object../node_modules/buffer/index.js (index.js:43)
    at __webpack_require__ (bootstrap:84)
    at Object../node_modules/safe-buffer/index.js (index.js:2)
    at __webpack_require__ (bootstra

[2020-03-09 14:17] trampi commented on #27
Hi!
You probably forgot to add global to window in the polyfills.ts.
[See the "Installation and usage" section in the readme](https://github.com/pazznetwork/ngx-chat)

[code]

We aren't officially supporting Ionic. Feel free to reopen the issue if this does not solve your issue.

[2020-03-09 14:24] zlyfer commented on #27
Hey,
Wow thanks for the quick reply. I added the line and the same error didn't show up again.
However now I get following error:
`
util.js:103 Uncaught ReferenceError: Buffer is not defined
    at Object../node_modules/core-util-is/lib/util.js (util.js:103)
    at __webpack_require__ (bootstrap:84)
    at Object../node_modules/readable-stream/lib/_stream_readable.js (_stream_readable.js:67)
    a

[2020-03-09 14:33] trampi commented on #27
I've reopened the issue and will take a look at using ngx-chat in ionic tomorrow.

[2020-03-09 15:00] harishreddy311 commented on #26
[image: issues.JPG]

hi after debugging the code this is what the above error i am getting help
us to resolve it

On Mon, Mar 9, 2020 at 4:51 PM Fabian Beier-Trampusch <
notifications@github.com> wrote:

[2020-03-09 15:26] trampi commented on #26
Hi. I do not see your image. Could you please attach it manually via the following link?
https://github.com/pazznetwork/ngx-chat/issues/26

[2020-03-10 14:02] trampi commented on #27
@zlyfer
Could reproduce your issue, it is solved by using `@xmpp/client@0.9.x`.
Install it via
[code]
in your root directory.
You should also install `@angular/animations` for your angular version if you haven't yet.

[2020-03-11 12:58] trampi commented on #25
Hi @jameskentTX,
I will filter the duplicate requests by only sending one request per jid in `discoverServices`.
This should probably help with your problem.
Just to be sure, could you post the result for the `disco#info` calls? One response should suffice.

By the way, you should consider upgrading to Angular 9 if you haven't already. I would like to drop support for Angular 8 in the next release

[2020-03-11 13:32] zlyfer commented on #27
Thank you this worked like a charm!
However there are a couple of things that I don't get yet:

1. The XMPP Server I want to connect is OpenFire and for the login I tried "wss://jabber.MYDOMAIN.de/7443" as service with domain being "MYDOMAIN.de" and it kept reconnecting because of connection refused. Now I am using "wss://jabber.MYDOMAIN.de/5223" as service and "MYDOMAIN.de" as domain and it doesn

[2020-03-11 14:00] trampi commented on #27
Hi zlyfer, no need to apologize, everythings fine 😄

1) > The XMPP Server I want to connect is OpenFire

ngx-chat is at this moment not compatible with OpenFire, see #16.
However, it should not be much work and I am working on this right now, will get back on you later.

2) > I use the tag <ngx-chat></ngx-chat> in a seperate page which then just shows an empty space (with a generic template text)

[2020-03-11 14:07] jameskentTX commented on #25
Thanks, Trampi.

[code]

[2020-03-11 14:26] zlyfer commented on #27
@trampi
Here is a screenshot of both error messages:
![image](https://user-images.githubusercontent.com/7332940/76427253-5fbd7d00-63ac-11ea-8321-9b3bf63de342.png)
Indeed, seems like it has nothing to do with ngx-chat.

However, it should not be much work and I am working on this right now, will get back on you later.

Well OpenFire is my only option. Thanks for the help so far.

[2020-03-11 15:40] trampi commented on #27
@zlyfer

No problem, I am pretty confident that this will work really soon.

Indeed. If your username does not contain '@' this can be ignored. Fixed the condition for the next release.

[2020-03-11 15:51] zlyfer commented on #27
@trampi
I see, thank you for your efforts. Unfortunately I have to use a different solution which is not made for Angular in order to progress with the project but I would be glad to switch to ngx-chat again when OpenFire is supported.
Thank's again.

[2020-03-11 17:32] trampi commented on #27
Got the fix locally working, will test it out tomorrow morning and release it if everything works :-)

[2020-03-12 15:58] trampi commented on #14
As ngx-chat arrived at 0.9.0 (synchronized with angular version numbers) we're now officially supporting angular 9 / ivy. Feel free to reopen this ticket if any issues arise.

[2020-03-12 15:58] #14 closed

[2020-03-12 15:59] trampi commented on #16
Release 0.9.0 fixes some xmpp protocol mismatches. We now officially support Openfire 4.4.2.

[2020-03-12 15:59] #16 closed

[2020-03-12 16:00] trampi commented on #20
Fixed in 0.9.0. I've used almost the same code as you.

[2020-03-12 16:00] #20 closed

[2020-03-12 16:00] trampi commented on #25
Should be fixed with 0.9.0.

[2020-03-12 16:00] #25 closed

[2020-03-12 16:04] trampi commented on #27
We've release 0.9.0 (which requires angular 9). It should be possible to backport the fixes to the angular 8 version of ngx-chat. Reopen this issue if you need it.

All the best!
trampi

[2020-03-12 16:04] #27 closed

[2020-03-13 18:33] zlyfer commented on #27
Hey,
So I updated to Angular 9 and ngx-chat 0.9.0 and it compiled successfully. However after a period of time trying to connect the handshake failes and it tries again.
[code]
(Original domain name replaced with _example.com_)
I am still investigating if this a problem on my side.

[2020-03-16 10:20] trampi commented on #27
Strange. You could try to use https://pazznetwork.github.io/ngx-chat-ghpages/ for diagnosis, open the network packet inspector and check the traffic.
If the websocket can really not be established (as the error implies), then you are probably using the wrong service endpoint, probably the one for BOSH.

For the openfire default configuration you can try:

`wss://example.com:7443/ws/`

[2020-03-22 07:26] jameskentTX opened #29 "Small configuration problem"
App 0.9.0 won't compile unless you add

[code]

in `public-api.ts`

In `multi-user-chat.component.html` vscode shows two errors (code compile and works anyway, so it is annoyance only, not an error):

1. line 11: `'ngx-chat-room-messages' is not a known element`
2. line 12: `'ngx-chat-message-input' is not a known element`

Full vscode error message from 1:

`'ngx-chat-room-messages' is not a know

[2020-03-30 07:13] trampi commented on #29
Hi @jameskentTX, I could confirm the problem, removed some previously public components from the api. I will publish a new release later this day which will fix this issue.

[2020-04-02 13:13] jameskentTX commented on #29
Ok, thanks.
I have a question.
In `xmpp-chat-connection.service`, **sendIq** function,  you have following code:

[code]

But in `XEP-0045: Multi-User Chat` documentation IQ stanzas have no type attribute.
For example in https://xmpp.org/extensions/xep-0045.html#enter-managehistory :

Example 39. User Requests All History Since the Beginning of the Unix Era
[code]

If I try to send such stanza as

[2020-04-03 10:27] #29 closed

[2020-04-03 10:59] trampi commented on #29
@jameskentTX I've released 0.9.1, which should fix this

[2020-04-03 11:01] trampi commented on #29
@jameskentTX: I see you did remove the question regarding the `sendIq`, have you solved it? You should use `send` instead in this case, if I remember your question correctly.

[2020-04-03 11:01] #26 closed

[2020-04-03 13:38] jameskentTX commented on #29
Using `Send custom IQ packets` I can get archive MUC messages for selected room with `xmlns='urn:xmpp:mam:0'` and with `xmlns='urn:xmpp:mam:2'` too.

`xmlns='urn:xmpp:mam:0'` is from older specification: https://xmpp.org/extensions/attic/xep-0313-0.3.html

`xmlns='urn:xmpp:mam:2'` is from newer specification: https://xmpp.org/extensions/xep-0313.html

Older specification is working, newer too, but

[2020-04-06 11:14] trampi commented on #29
@jameskentTX Which errors do you get? Nice to hear that you get the messages. Which errors do you get?

[2020-04-08 10:11] jameskentTX commented on #29
These errors are not important. To see them login into your app and then send two IQ stanzas to load messages from MUC room:

1.
[code]

2.
[code]

Old specification (`urn:xmpp:mam:0`) is working without errors, newer (`urn:xmpp:mam:2`) is generating errors.

[2020-04-24 19:03] jameskentTX opened #30 "Sending message in chat room throws ExpressionChangedAfterItHasBeenCheckedError"
Install app and deps, log in, join room then send a message.
Debugger stops execution and we see that `ExpressionChangedAfterItHasBeenCheckedError` is responsible.

The same error appears when we log in, join room and app loads messages from archive.

I tried to change detection strategy to OnPush and use markForCheck() in `chat-room-messages.component.ts` but it also generates error (without mark

[2020-04-25 10:05] #30 closed

[2020-05-01 08:00] jameskentTX opened #31 "Possible error in `supportsFeature` function"
[code]

I compiled new version of ejabberd and I've made changes in configuration so I know now nothing about anything :) If I see any errors I don't know what is responsible for them.

But your function is throwing errors. I think this line is responsible:
[code]

It should be:
[code]

[2020-05-06 09:17] ShejinBasheer opened #32 "HTTPS Support"
Does ngx-chat support https rather than wss

[2020-05-06 09:42] trampi commented on #32
@ShejinBasheer no, we only support wss. BOSH is not supported.

[2020-05-06 09:42] #32 closed

[2020-05-06 09:46] trampi commented on #31
Hi @jameskentTX!

While it is a code smell to not use the `service` variable, the code is actually exactly the same, the proposed change does not alter the behavior.

Which error do you get? The `no service found for jid`-error?

[2020-05-06 09:55] jameskentTX commented on #31
Uncaught (in promise): TypeError: Cannot read property 'features' of undefined
TypeError: Cannot read property 'features' of undefined
    at ServiceDiscoveryPlugin.<anonymous> (service-discovery.plugin.ts:80)

[2020-05-10 08:35] ganySA opened #33 "Ejabberd wont login"
Hi

I have the latest ejabberd server and when i try the demo site, it just wont connect. I can see the connection coming through to the server, but it does not progress and keeps retrying....

Any ideas?

[2020-05-10 09:54] jameskentTX commented on #33
Check ejabberd configuration.

[2020-05-11 04:29] ganySA commented on #33
Could you give me a little bit more info. I can connect normally to ejabberd using a normal client, i can also browse to the websocket endpoint.

I can see connections coming through to Ejabberd.
"10:45:36.852 [info] (none) Accepted connection 127.0.0.1:62308 -> 127.0.0.1:5443"

But they never complete and ngx-chat keeps trying to reconnect?

[2020-05-11 07:44] trampi commented on #33
Hi @ganySA, could you provide the browser developer console output? We are using Ejabberd over websocket without any problems so far.

[2020-05-12 07:55] ganySA commented on #33
Output as follows:

**ejabberd console says the following:**

09:54:02.030 [info] (none) Accepted connection 127.0.0.1:59925 -> 127.0.0.1:5443
09:54:05.408 [info] (none) Accepted connection 127.0.0.1:59930 -> 127.0.0.1:5443
09:54:06.962 [info] (<0.31352.0>) Accepted connection 127.0.0.1:59935 -> 127.0.0.1:5443
09:54:09.351 [info] (<0.31353.0>) Accepted connection 127.0.0.1:59941 -> 127.0.0.1:5443

[2020-05-12 10:06] trampi commented on #33
@ganySA Thank you for providing the logs, unfortunately the errors are very generic.
You might want to have a look / attach the browser network inspector message exchange for the failed websocket connection. **Be sure to censor the auth-Stanza**.

[2020-06-01 02:32] ganySA commented on #33
@trampi  i am still struggling with this.
i am trying to connect to the wss://localhost:5443/ws on the demo site and it wont let me connect at all.

What do you mean to censor the auth-Stanza?

[2020-06-01 07:28] ganySA commented on #31
I have the exact same issue.

[2020-06-02 07:31] trampi commented on #31
I've identified the root cause of the issue and will provide a fix in the next release.

[2020-06-02 07:54] trampi commented on #33
@ganySA
Ahh, I see.

Use *ws*:// instead of *wss*:// when you do not have TLS enabled.

    Then when connecting i get: Error in connection establishment: net::ERR_CERT_AUTHORITY_INVALID

Sounds like a certificate error to me. The certificate of your jabber server has to be trusted by your browser.

Usually it would help me to provide the websocket messages. Please check it, but I guess that you w

[2020-06-11 14:21] #31 closed

[2020-06-11 14:30] trampi commented on #31
@ganySA @jameskentTX

Fix released in v0.9.2.
It is possible that your issue might still exist, should this be the case please reopen this ticket.

[2020-06-16 20:48] juliusdigital opened #35 "message-state.plugin.ts – Message States "bouncing" weird in UI"
Hello,

I've been having some issues with the message state plugin.

The states switch back and forth in a weird way when the users "A" and "B" are in the active window - it looks like "something is wrong" in the user experience. The issue goes like this:

**Issue Description**

Contact A, sends a message to user B, both are in the active (open) window, now this happens:

1. Message is marked as S

[2020-06-17 17:49] trampi commented on #35
Hi @JulioFlores, thank you for this detailed report. I will have a detailed look tomorrow, but wanted you to know that I have seen it.

All the best!

[2020-06-18 15:38] trampi commented on #35
Hi @JulioFlores, I've got good and bad news.

Lets start with the bad news first: I will be on vacation from 22.06. and be back in office starting at the 06.07. It is not very likely (but not impossible either...) that I will find time in the meantime to release a fixed version for the second issue (Message states not reported to offline users). Interestingly, when I implemented the feature, I am

[2020-06-19 17:01] trampi commented on #35
Hi!

I had lots of stuff to wrap up today and was not able to release today. I will release the fixed version tomorrow.

Sorry for the delay,
Fabian

[2020-06-19 18:49] JulioFlores commented on #35
Hi Fabian,

I have some new discoveries and thoughts...

**First – We can't trust the machine Date() in JS as it is.**

I've found that if users are connected in different machines may have and will have different system clock. Thus, the timestamps are an issue to make compare operations.

Solution: We must have a way to get the Server date in UTC.

What I'm testing right now is to make an HTTP HE

[2020-06-20 17:27] trampi commented on #35
Hi @JulioFlores

Yeah, makes complete sense. And [XEP-0202](https://xmpp.org/extensions/xep-0202.html) allows us to retrieve the time of the XMPP server for a shared understanding of "now"! Supported XMPP servers include:

* ejabberd
* prosody
* openfire

I will provide a default implementation for a service utilizing XEP-0202 to get the shared "now". I will then compute the elapsed time via `perf

[2020-06-20 19:43] trampi commented on #35
I pushed a commit on Branch ticket-35 which should improve the synchronization by implementing the algorithm outlined in my last message.
This is not tested extensively, so use with caution. In a quick test it behaved as expected.

I will not release a new version before the end of my vacation, but feel free to build upon it.

If you have further questions do not hesitate.

Regards,
Fabian

[2020-06-20 22:53] JulioFlores commented on #35
Enjoy your vacation @trampi !

I’ll test it and comment back soon.

[2020-07-14 11:09] trampi commented on #35
@JulioFlores Hi, any news from you?
Did you find time to test the proposed change? 😄

[2020-07-21 22:35] JulioFlores commented on #35
Hi @trampi

Sorry for the delay.

Yeah! I've tested and it seems to work more stable now.

I've made some adjustments to the `message.plugin.ts` where datetime is set.

**_message.plugin.ts_**

[code]

[code]

I guess also the unread message plugin needs some adjustments ... ? I've not tried yet or seen any issues.

The code in the processPubSub in the plugin at https://github.com/pazznetwork/ngx-

[2020-07-23 08:28] trampi opened #36 "Unread message counter is not set correctly after reconnect"
### Current behavior:

1) User A is online
2) User A receives a message from User B, UI shows one unread message
3) User A disconnects without opening a message dialog with User B
4) User A connects
Then: UI of User A displays no unread message from User B

### Expected behavior:
UI of User A should display that he has one unread message from User B

[2020-07-23 11:55] #24 closed

[2020-07-23 11:55] #36 closed

[2020-08-11 07:12] cankemik opened #38 "How to fetch Openfire Additional User Properties ?"
Openfire has REST API feature that allows adding additional properties to user entry.

I'm guessing this feature is specific for Openfire only but are there any ways to retrieve this information in Contact metadata?

[2020-08-17 09:50] trampi commented on #38
Hi @cankemik! You could subscribe to the `contacts$` Observable, request the properties for the user and add the data on demand.

The following code is used in a product of us and fetches the user information from another service and puts the data into metadata as well:

[code]

I have not had the time to look the REST API feature of Openfire up - do you know if it is based on a XEP? Maybe [XEP-00

[2020-08-18 10:02] hhokka opened #39 "How do I get this to work?"
When I try to use ngx-chat, I use the following per instructions:

[code]
Then it requires an import. I have guessed it to be `import { NgxChatModule } from @pazznetwork/ngx-chat`

After adding these lines my pages won't display at all.

[2020-08-19 09:47] trampi commented on #39
Hi @hhokka,

do you have any erorrs in your browser console? You've correctly guessed the import 😄
Are you using Angular 10?

[2020-08-19 17:26] JulioFlores commented on #39
Hey @hhokka I would suggest you to get running the example project before diving in. Connect to your xmpp server and start some tests, afterwards carry on your own implementation by copying the imports and code you'd need.

[2020-08-20 14:17] hhokka commented on #39
Hey,

I will do that. Thank you!

Regards,

Hans Hokka

ke 19. elok. 2020 klo 20.27 Julio R. Flores <notifications@github.com>
kirjoitti:

[2020-09-16 17:43] sdomville opened #43 "Typo in README"
In the getting started part you say to  add the constructor code:
`  constructor(@Inject(ChatServiceToken) ChatService) {
    chatService.logIn({
        domain: 'ngx-chat.example',
        service: 'wss://ngx-chat.example:5280/websocket',
        password: 'password',
        username: 'someuser',
    });
}`

but that gives a TS error : Cannot find name 'chatService'. Did you mean 'ChatService'?t

[2020-09-17 08:05] #43 closed

[2020-09-17 08:06] trampi commented on #43
Hi @sdomville,
I have corrected the readme.
Thank you for reporting it!

All the best,
trampi

[2020-09-17 14:55] sdomville opened #44 "Compile errors in Angular app"
Hi - I installed via:
`npm install --save @pazznetwork/ngx-chat @xmpp/client@~0.9.2`
and see these errors with ng build:

ERROR in node_modules/@pazznetwork/ngx-chat/lib/components/chat.component.d.ts(28,9): error TS1086: An accessor cannot be declared in an ambient context.
node_modules/@pazznetwork/ngx-chat/lib/core/contact.d.ts(27,9): error TS1086: An accessor cannot be declared in an ambient c

[2020-09-21 08:29] trampi commented on #44
Hi @sdomville,

could you give a bit more context, e.g. your package.json or a link to the repository of your project?
I can not reproduce your error locally. A newly created project with angular 10 works fine.

[2020-09-24 12:58] trampi commented on #44
Hi @sdomville,

thank you for providing further information.

Unfortunately there is no support for Angular 7, we skipped it. You could try the angular 8 or angular 6 build. Only the current build line is supported actively.

Yes, group chat is supported (but not shown in the contact list on the right side of the page)

See https://pazznetwork.github.io/ngx-chat-ghpages/ at the bottom after signin

[2020-10-01 17:28] slimanLakhoua opened #45 "Error while trying to build lib"
Hello,

i have been trying lately to build the lib with the command provided in the readme file :
# build the library continuously
ng build @pazznetwork/ngx-chat --watch

but i still getting this error

ERROR: projects/pazznetwork/ngx-chat/src/lib/services/adapters/xmpp/plugins/service-discovery.plugin.ts:145:9 - error TS2322: Type '{ identities: { [attrName: string]: any; }[]; features: any[]; ji

[2020-10-12 09:32] trampi commented on #45
Hi! Can you show me your package.json? I suspect an outdated version of Typescript and / or an incompatible version of Angular.

[2020-11-25 12:09] mounikamasetti opened #47 "Reagrding delete functionality"
Hiow we can delete a message in this xmpp server by using pazznetwork ngx-chat

[2020-11-26 08:01] trampi commented on #47
Hello @mounikamasetti,
ngx-chat has not implemented any functionality to delete messages. I do not know of any XMPP Standard (XEP) which allows that. If you could provide a link to a XEP, I would happily assist in implementing this feature.

[2020-12-03 13:14] DevRichter opened #48 "Feature-not-implemented loadCompleteHistory()"
Hello,

i have a Problem with loading messages. As a XMPP-Server i use Openfire 4.6.0. When i load messages from a room (N to N Chat) i created and joined it works like a charm. All messages are saved and then loaded, even after i close my app. But when i try to load messages i send to a contact (1 to 1 Chat) just minutes ago, and reload my app, all messages are gone.

So i tried to enable the Mon

[2020-12-03 14:12] trampi commented on #48
Hi @DevRichter,

I'll have a look at this soon and will report back. The last time I've worked with Openfire I just had to enable the monitoring plugin. It sounds like a configuration issue.

[2020-12-03 14:49] DevRichter commented on #48
Well, my colleague set up a docker container for the Openfire Server with a Postgres DB, which for some reason was falsly configured. My own configuration works fine now :) thank you for the quick answer, and awesome repository btw! Love the Documentation :)

[2020-12-03 14:49] #48 closed

[2020-12-03 15:00] trampi commented on #48
Hi @DevRichter,
thank you for your feedback :-)

Should you have further questions or something not work as expected do not hesitate and open a new issue.

All the best,
trampi

[2020-12-07 13:03] DevRichter opened #49 "Groupchats appear in Contacts, and cannot be deleted"
Hello,

i have a Problem where after i send a Message to a Groupchat, it creates a new Contact with the JID of the room in my Contacts (for example testroom@conference.2345423ds). I cant find a call for the method addContact() or getOrCreateContactById(). Any Ideas how that might happen?

Also now that i have these rooms as actual contacts, i want to remove them from my contacts. But i get the fol

[2020-12-07 13:52] trampi commented on #49
Hi @DevRichter,

groupchats appearing in contacts is definitely not intended and hint at message stanzas with a type not equal to groupchat.

Just to be sure, when you log out and log in, do you still get the conference as contact? I guess you do, right?

If thats the case, then I would guess the message has been sent as a type 'chat'-message instead of a type 'groupchat' message.

How do you send

[2020-12-07 14:03] DevRichter commented on #49
Hi @trampi,

i do get conferences as contacts, even after i log in and out.

`sendMessage(contact, message) {
    this.ngxChatService.sendMessage(contact, message);
}`
`sendRoomMessage(room, message) {
    this.chatPlugin.sendMessage(room, message);
 }`

i do call the sending of messages differently. I made sure to check that it might call the wrong function, but it doesnt. It did work before as i

[2020-12-07 14:26] trampi commented on #49
Hi @DevRichter,
I will try to reproduce it locally tomorrow morning.

When logging in, the message archive gets requested via message-archive.plugin.ts -> you might want to set a breakpoint there around line 136. There is a call to `getOrCreateContactById()` to append the received archived message to a contact.
**In a Multi-User-Chat, this branch should never be taken, only for person-to-person ch

[2020-12-07 15:11] DevRichter commented on #49
Hi @trampi,

i actually found the reason, which someone might actually benefit from in the future: dont activate "archive group chats" for the monitoring service plugin on openfire, that actually saves groupchats as 1 v 1 chats!

best regards
DevRichter

[2020-12-07 15:11] #49 closed

[2020-12-07 16:44] trampi commented on #49
Hi @DevRichter,

thanks for the heads up.

All the best,
trampi

[2021-01-08 10:42] UsmanMajied17 commented on #47
Hi trampi, i am going to implement pazznetwork ngx-chat very soon and reading this issue kinda disturbed me a bit. Let me reconfirm. Are you saying that messages cannot be deleted via xmpp or you have not implemented this feature yet? Thanks in advance.

[2021-01-11 11:39] DevRichter opened #51 "Writing Jasmine/Karma tests involving ngxchat"
Hey,

i have a question regarding how to write tests using this repository. I have to use the Jasmine/Karma testing framework from Angular. I am not very well versed in writing tests, but as far as i understand you normally would mock incoming data, and tests the functions with the mocked data. In that way you would need to mock the objects with all of their attributes, for it to work. Using this

[2021-01-13 15:29] trampi commented on #47
Hi @UsmanMajied17,
deleting messages is not a part of the XMPP protocal as far as I am aware. ngx-chat can therefore not provide support for that.
There is an [abandoned XEP Standard Proposal](http://legastero.github.io/customxeps/extensions/message-delete.html), which has not been standardised. I am not aware of XMPP servers implementing this.

You could integrate a custom API for your XMPP serve

[2021-01-13 15:38] trampi commented on #51
Hi @DevRichter,

in our main project, we just use end-to-end-tests with ngx-chat. We have no unit tests / component tests involving ngx-chat, as we see that as "external library" and try to avoid testing external libraries, because that should be the burden of the external library developer.
In your use case, I would recommend to mock the data regarding ngx-chat. It might be possible, depending on

[2021-01-14 14:43] DevRichter commented on #51
Hey @trampi,

thanks for the answer and congratulations for becoming a father! I think mocking ChatService should be sufficient, you're right. I tried mocking my wrapping Service, which of course wont work, thanks for the advice!

Greetings
DevRichter

[2021-01-14 14:43] #51 closed

[2021-01-14 14:50] DevRichter opened #52 "HTTPUpload"
Hey,

i have an Issue with uploading files to my openfire. I use the HTTPFileUploadPlugin, Openfire Http File Upload Plugin and <input type"file> from angular. I actually receive the correct object (imo):

`File {name: "example.txt", lastModified: 1602250514537, lastModifiedDate: Fri Oct 09 2020 15:35:14 GMT+0200 (Mitteleuropäische Sommerzeit), webkitRelativePath: "", size: 241, …}`

i pass that o

[2021-01-18 07:34] mounikamasetti commented on #47
Hai  @trampi

Thanks for your suggesion I am also thinking in the same way that have to use implementing specific  custom url..

can u help me to develop file upload and download functionality in XMPP server

[2021-02-02 16:04] duzenko opened #54 "Angular 11?"
Is this library supposed to work with Angular 11? I get the following errors
[code]

[2021-02-14 01:24] bhumaha-ceo opened #55 "How to login using authtoken - is it supported. I am using this within my application and my application auth mechanism is different so I don't want to put any password in Ng client code. Do let me know how to do that"

[2021-02-20 23:20] RafaelPuerta commented on #54
did you try angular 10?

[2021-02-25 10:16] duzenko commented on #54
As a matter of fact it seems to work with 11, even though it gave incomprehensible errors at some point

[2021-02-25 10:18] duzenko opened #56 "Tigase support?"
We tried this component with Tigase but it throws at least two different types of errors in the browser console
Can we have ngx-chat to support Tigase as well please?

[2021-03-04 16:32] avoronkoff opened #57 "Angular 11 error"
Hi! I`m using Angular 11 and have these errors

Error: node_modules/@pazznetwork/ngx-chat/lib/core/stanza.d.ts:9:18 - error TS2430: Interface 'IqResponseStanza' incorrectly extends interface 'Stanza'.
  Types of property 'attrs' are incompatible.
    Type '{ id: string; type: "error" | "result"; from?: string | undefined; to?: string | undefined; }' is not assignable to type '{ [key: string]: stri

[2021-03-05 13:47] avoronkoff commented on #57
@trampi @CodeBast4rd @cnalax Could you update Stanza for support Angular 11, pls
export interface Stanza extends Element {
    attrs: {
        [key: string]: string | undefined; <---- this type should implement
    };
    children: Stanza[];
    name: string;
}

[2021-03-05 14:52] trampi commented on #57
Hi! I am back from parental leave and will take a look at this at the beginning of the next week. Thank you for contributing!

[2021-03-05 14:53] trampi commented on #47
Hi! I am back from parental leave and will take a look at this at the beginning of the next week.

[2021-03-05 14:53] trampi commented on #52
Hi! I am back from parental leave and will take a look at this at the beginning of the next week.

[2021-03-05 14:53] trampi commented on #56
Hi! I am back from parental leave and will take a look at this at the beginning of the next week. Support of tigase should be possible, as it seems compliant with XMPP RFCs / XEPs!

[2021-03-05 14:54] trampi commented on #55
Hi! I am back from parental leave and will take a look at this at the beginning of the next week. Could you provide more information about which server you're using, which auth method and so on?

[2021-03-05 14:55] trampi commented on #54
reopened this issue to signalize everyone that it is not perfect at the moment but definitely is planned in the near future.

[2021-03-05 14:57] avoronkoff commented on #57
Hi, I created a pull request to fix my problem ---> https://github.com/pazznetwork/ngx-chat/pull/58

[2021-03-05 15:28] trampi commented on #57
Thanks, have seen it, your PR was actually the reason to comment on the open issues today and not next week 😄

Will review it at the beginning of next week, I am looking forward to it!

Cheers,
trampi

[2021-03-10 15:07] trampi commented on #57
Hi! I am currently delayed by important tasks in our main project. Will get back here ASAP.

[2021-03-11 07:57] trampi commented on #57
Starting the review now.

[2021-03-11 09:35] trampi commented on #57
incorporated your changes into the develop branch, will release a new version for angular 11 soon

[2021-03-11 15:18] trampi commented on #57
Just pushed Angular 11 compatible Version @pazznetwork/ngx-chat@0.11.0.
Should you have any issues or further questions do not hesitate.

[2021-03-11 15:18] #57 closed

[2021-03-11 15:20] trampi commented on #52
Interesting. Judging from the logs I would expect this to work. Will try to reproduce this in the near future, should not be too hard.

[2021-03-11 15:21] trampi commented on #54
Just pushed Angular 11 compatible Version @pazznetwork/ngx-chat@0.11.0.
Should you have any issues or further questions do not hesitate to reopen this issue or open a new one.

[2021-03-11 15:21] #54 closed

[2021-03-11 15:22] trampi commented on #55
Sorry, officially we only support password based authentication.

[2021-03-11 15:22] #55 closed

[2021-03-11 15:23] trampi commented on #33
Closed due to inactivity

[2021-03-11 15:23] #33 closed

[2021-03-11 15:24] trampi commented on #39
Closed as I guess this is resolved. Do not hesitate to reopen or to open a new issue.

[2021-03-11 15:24] #39 closed

[2021-03-11 15:24] trampi commented on #38
Closed as I guess this is resolved. Do not hesitate to reopen or to open a new issue.

[2021-03-11 15:24] #38 closed

[2021-03-11 15:24] trampi commented on #44
Closed as I guess this is resolved. Do not hesitate to reopen or to open a new issue.

[2021-03-11 15:24] #44 closed

[2021-03-11 15:25] trampi commented on #47
@mounikamasetti which XMPP server are you using?

[2021-03-11 15:27] trampi commented on #45
Closed due to inactivity. Do not hesitate to reopen or to open a new issue.

[2021-03-11 15:27] #45 closed

[2021-03-12 08:46] trampi commented on #56
Hi! I will definitely come back to this, but got some other priorities at the moment.

[2021-03-12 09:08] duzenko commented on #56
No problem, we won't need it any time soon
XMPP is too much hassle and we just implemented our own chat service instead

[2021-04-23 11:09] trampi opened #62 "replace ChatRoomMessagesComponent with ChatMessageListComponent"
both do more or less the same. ChatMessageListComponent does support things like lazy loading of older messages and correct scroll behavior.

- [x] fix all code regions mentioning this ticket (#62)

[2021-04-24 10:49] trampi opened #63 "Move ngx-chat to ivy"
https://blog.angular.io/upcoming-improvements-to-angular-library-distribution-76c02f782aa4

[2021-05-31 06:30] mounikamasetti opened #68 "regarding issues while doing ng build"
HI i am getting thios kind of issues while I am integrating with my application..suggest me solution

[2021-07-30 13:12] LeandroFiaschetti opened #69 "xmpp push notifications support?"
Hi, I am new in xmpp and I am using openfire as xmpp server and ngx-chat as client, but I need to enable push notifications, to notify to the user when a new message has arrived. Do you support this feature?

Tks.

[2021-08-03 13:23] #12 closed

[2021-08-03 13:32] CodeBast4rd commented on #68
@mounikamasetti  can you please elaborate on issues? Maybe with some kind of log output?

[2021-08-03 14:13] CodeBast4rd commented on #69
You can enable the ChatBackgroundNotificationService.

[2021-08-06 17:03] resLotus opened #71 "Configure nick for MUC"
Hi, im new to xmpp chat and started using the library to program my application.
Im doing a multi user chat so Im primarily using the multiUserChatComponent plugin

My problem is that I want to change the visible nick for a user
Lets say that I have a user with jid: user-6@localhost
When the user sends a message in the chat it will appear as being sent by user-6
![image](https://user-images.github

[2021-08-08 21:07] ch4r1y opened #72 "MessageStatePlugin does not work for groupchat"
Hello, I wanted to know if it is possible to implement the read message status for multi-user rooms.
If possible I would like help to see how I could do it.
Thanks.

[2021-08-24 22:21] camiloestrada69 opened #76 "unknown stanza error on creationRoom"
![image](https://user-images.githubusercontent.com/57564474/130698157-ac7bb388-86e5-4de0-bbba-7d9f2cf5c026.png)
log.service.ts:26 ChatService: unknown stanza<=<presence from="camilo.estrada@muclight.localhost/NuevaSala" to="camilo.estrada@localhost/74737302ae6259681629-843463-719554" type="error" xmlns="jabber:client"><error code="400" type="modify"><bad-request xmlns="urn:ietf:params:xml:ns:xmpp-

[2021-09-13 12:24] CodeBast4rd opened #80 "Unify resolved socket request management"
For example the MUC-Adapter handles join request resolutions through an own mapping. We should check if a common abstraction for the promisifying of websocket requests for 'presence', ' message' and 'iq' is possible.

[2021-09-13 12:29] CodeBast4rd commented on #15
Is this still an issue. Was the requirement ensuring the ngx-chat produced states on ejabberd are compatible with other Xmpp clients?

[2021-09-28 08:32] divyabk1 opened #81 "adding contact"
Hi...Can you please let me know how to add a contact on ngx-chat UI?

[2021-10-26 09:00] juergen83 opened #83 "Customize Chat Adapter"
Hi, can I add custom logic to the xmpp-chat-adapter class? Or I have to clone/install (npm install <git-URL>) the whole repository for customizing this module?

I tried the following solution to inherit the adapter class:
`export class CustomXmppChatAdapter extends XmppChatAdapter {
constructor(
        public chatConnectionService: XmppChatConnectionService,
        private logSrv: LogService,

[2021-11-08 11:14] CodeBast4rd commented on #83
`@Inject(TokenName) private newChatService` in your constructor to use the provided service in your parent module `{provide: ChatServiceToken, useValue: newChatService},`.

[2021-11-08 11:14] #83 closed

[2021-11-09 07:43] #15 closed

[2021-11-09 07:44] #17 closed

[2021-11-09 07:44] #18 closed

[2021-11-09 07:44] #22 closed

[2021-11-09 07:47] #56 closed

[2021-11-09 07:49] #68 closed

[2021-11-09 07:49] #69 closed

[2021-11-09 07:55] CodeBast4rd commented on #71
To avoid some overhead we didn't implement for now a way to manage jids and nicks separately. You can of course use another source of information (another db or backend) to map the jids in the frontend to names or nicks. Or you can change the nicks manually with the ejabberd admin api or shell.

But if you want this functionality to become part of the registration plugin a pull request is welcome.

[2021-11-09 07:59] CodeBast4rd commented on #72
Good Morning,

You can implement a new Plugin in the Plugin directory implementing the [XEP-0184](https://xmpp.org/extensions/xep-0184.html).

Best regards.

[2021-11-09 08:00] CodeBast4rd commented on #76
The unknown stanze Problem is a known one I am currently working at. Our Plugins to implement fully the necessary XEP'S.

Pull Requests are welcome.

[2021-11-09 08:07] CodeBast4rd commented on #81
The adding of a contact is not part of the ngx-chat ui. You have to implement an own visualisation of that. Than you can call on the ChatService the addContact method.

[2021-11-09 08:07] #81 closed

[2021-11-09 08:09] CodeBast4rd commented on #47
@mounikamasetti , @UsmanMajied17

And delete of messages will be implemented following the standards when our own need for that justifies the effort.

For now Pull requests are welcome.

[2021-11-09 08:09] #47 closed

[2021-11-09 08:12] CodeBast4rd commented on #23
@jameskentTX
Should be fixed with https://github.com/pazznetwork/ngx-chat/commit/d3374d5b0e0fcc56e16a6b51882ebf8e22514f98

[2021-11-09 08:12] #23 closed

[2021-11-09 08:15] #62 closed

[2021-11-09 08:28] divyabk1 commented on #81
Hi..Thanks for the reply...Can you give some pointers on how I can add my
customization? Not very well versed with Angular.Would appreciate if you
could help

Thanks,
Divya

On Tue, Nov 9, 2021 at 1:38 PM Jakub Mikos ***@***.***> wrote:

--
Regards,
Divya

[2021-11-09 09:19] CodeBast4rd commented on #81
Create a button "add Contact" which calls the chatService.addContact(userId) with the Jid of the user.

[2021-11-09 09:27] divyabk1 commented on #81
But I need it within the ngx-chat window, somewhere above the roster list.

On Tue, Nov 9, 2021 at 2:49 PM Jakub Mikos ***@***.***> wrote:

--
Regards,
Divya

[2021-11-09 12:34] CodeBast4rd commented on #81
You can make any UI Implementation you want just using the ChatService api. You can also position buttons overlapping the rooster list or even inject components into the rooster list.

Everything else is out of scope of this project.

[2021-11-15 08:50] divyabk1 opened #92 "How to load older messages"
Hello..Can you pls let me know how to load archive messages in ngx-chat?

[2021-11-15 10:30] juergen83 commented on #92
Use the Pugin designed for that:

`this.chatService.getPlugin(MessageArchivePlugin).loadAllMessages()`

[2021-11-15 11:06] divyabk1 commented on #92
On what event can I invoke this method?

[2021-11-15 11:14] juergen83 commented on #92
Inside the component 'ChatMessageListComponent' you find this plugin triggered by Lifecycle Hook 'ngAfterViewInit':
`async ngAfterViewInit() {
...
if (this.recipient.messages.length < 10) {
      await this.loadMessages(); // in case insufficient old messages are displayed
}
...
}

private async loadMessages() {
        try {
            // improve performance when loading lots of old messages

[2021-11-15 11:23] divyabk1 commented on #92
In my component, should I invoke this.chatMessageListComponent.loadOlderMessagesBeforeViewport(); ?

[2021-11-15 11:33] divyabk1 opened #93 "Adding a button to add/delete contact inside chat window of ngx-chat"
How do I add a button to add/delete contact inside chat window of ngx-chat?

[2021-11-15 11:41] juergen83 commented on #92
If your component extends the ChatMessageListComponent then you can use this method.
But if you extends this Component you have to overwrite all (used) private variables in it.

[2021-11-15 11:56] divyabk1 commented on #92
What is the other way to do it?

[2021-11-16 11:08] juergen83 opened #94 "Prevent warning 'ChatService: message with id xxx already exists""
Hi, how I can prevent the warning message "ChatService: message with id v0p8zlv7dra already exists" when I login and/or join into a room.
If more and more messages loaded in the chat room then in the browser console appears more and more these warnings.

BR
Juergen

[2021-11-16 12:07] CodeBast4rd commented on #94
@juergen83 we are working on this issue. It comes from not a full implementation of [MAM](https://xmpp.org/extensions/xep-0313.html).

But a pull request would be welcome for a log level setting.

[2021-11-16 12:19] juergen83 commented on #94
I thought that this issue comes from MAM. I'll see what can be done...

[2021-11-18 16:42] juergen83 opened #95 "Warning message after updating to version 0.12.0"
Hi,
I tried to update ngx-chat module and all the their requiredments.
Then I noticed the following message in the terminal:
`@pazznetwork/ngx-chat@0.12.0 requires a peer of @types/ltx@^3.0.0 but none is installed. You must install peer dependencies yourself.`

The package '@types/ltx' is not available in version 3.0.0. Latest version is 2.8.2.
Could it be a mistake in package.json?

BR
Juergen

[2021-11-19 08:05] #95 closed

[2021-11-19 08:08] juergen83 commented on #95
I am not sure what the problem is exactly. Upgrading the ngx-chat module, only, works for me and without any warnings.
I try to resolve my problem in other wise.

[2021-12-17 08:48] juergen83 opened #100 "Inherit BlockPlugin"
Hello,
I tried to extend the BlockPlugin to append custom methods to it but it not works. Here my code:

`export class ContactBlockPlugin extends BlockPlugin {

    public blockedContacts$: BehaviorSubject<boolean>[] = [];
    private blockPlugin: BlockPlugin;

    constructor(
        private chatAdapter: XmppChatAdapter,
        private serviceDiscPlugin: ServiceDiscoveryPlugin,
    ) {

[2021-12-17 09:04] juergen83 commented on #94
I really want to help you, but I don't have enough knowledge to change your code. I don't know where to place this log level setting.

[2022-03-09 11:05] CodeBast4rd opened #114 "XMPP Compliance Suite 2022"
The planned headless version should strive for the "Advanced Web Client" compliance as documented in https://xmpp.org/extensions/xep-0459.html.

|Feature |Provider |Implemented| Tested | Compliant |
|--------|---------|-------------|--------|-----------|
| Core features  |  [RFC 6120](http://tools.ietf.org/html/rfc6120)  |                      |              |                  |
|   |   |

[2022-03-09 11:05] CodeBast4rd opened #115 "XMPP Compliance Suite 2022"
The planned headless version should strive for the "Advanced Web Client" compliance as documented in https://xmpp.org/extensions/xep-0459.html.

|Feature |Provider |Implemented| Tested | Compliant |
|--------|---------|-------------|--------|-----------|
| Core features  |  [RFC 6120](http://tools.ietf.org/html/rfc6120)  |                      |              |                  |
|   |   |

[2022-03-11 13:50] juergen83 opened #116 "Unread counter not triggers for new room"
Hello guys,

I have troubles to use the build-in solution for unread message counter in rooms. This module works only if rooms are loaded after page refresh but if an other public room is subscribed/ created the trigger for unread counter doesn't work (maybe in background). Only if the page refreshes the number of unreads is visible.

For info: I open or close a room every room change, leave, dest

[2022-03-16 17:44] Vida-Subhash opened #117 "How to parse custom stanza."
Unable to parse custom stanza.
Here's is  eg. Of custom Stanza.
Please find below attached screenshot.
![Screenshot_2022-03-16-23-18-09-04_40deb401b9ffe8e1df2f1cc5ba480b12](https://user-images.githubusercontent.com/56436741/158654890-0c76e1eb-2d05-4a57-ac77-f1683cb7dc68.jpg)

[2022-04-27 21:50] michalgrzegorczyk-dev opened #120 "Seen by users in multi chat"
Is it possible to see where user finished reading chat? Or to check if some user seen all messages?

[2022-05-10 00:42] #120 closed

[2022-05-16 15:55] michalgrzegorczyk-dev commented on #116
Hey @juergen83, did you fix this issue? I encountered into a similar problem :/

[2022-05-16 15:57] michalgrzegorczyk-dev opened #121 "Count unread messages when offline"
Hello,

I have encountered the issue that uread messages are not counted when user is offline or it is set to 0. Is it an issue with the code or I have to change some persistance ejabberd settings?

[2022-07-08 13:19] CodeBast4rd commented on #121
There is currently no implementation for the XEP for offline count of messages.

[2022-07-08 13:20] CodeBast4rd commented on #117
Usage of custom stanzas need custom plugins.

[2022-07-08 13:20] #117 closed

[2022-08-09 05:04] Ahmet-KG opened #126 "Unread message badge issue"
The unread message badge does not disappear when you view the new incoming messages.

[2022-08-11 12:11] java93 opened #127 "Unread message counter does not disappear when messages are read."
The unread message counter that appears when a new message is received, does not disappear when incoming messages are displayed.

[2022-10-10 07:30] #63 closed

[2022-10-10 07:32] CodeBast4rd commented on #52
Probably because of image headers on upload. New version will move the file upload away from any components to the service.

I am currently only able to test against ejabberd so without an reproduction environment I can not support other XMPP servers.

[2022-10-10 07:32] #52 closed

[2022-10-10 07:33] CodeBast4rd commented on #21
Moving to strophe and observables will be fixed when to matching tests are written.
https://github.com/pazznetwork/ngx-chat/tree/alternative-xmpp-adapter

[2022-10-10 07:33] #21 closed

[2022-10-10 07:34] CodeBast4rd commented on #71
Nicks can be now provided through your own registration UI.

See:
https://github.com/pazznetwork/ngx-chat/tree/alternative-xmpp-adapter

[2022-10-10 07:35] #71 closed

[2022-10-10 08:00] #80 closed

[2022-10-10 08:01] CodeBast4rd commented on #93
Replace ChatBarWindowsComponent and ChatWindowComponent.

[2022-10-10 08:01] #93 closed

[2022-10-10 08:04] CodeBast4rd commented on #100
In current Architecture Plugins have to be added to the Plugin List as far as I know.

[2022-10-10 08:04] #100 closed

[2022-10-10 08:05] #114 closed

[2022-11-04 12:29] minik01 opened #145 "Missing Sending status"
How to reproduce error:

1. Log-in to the chat
2. Open conversation with any roster
3. Block internet connection (for example using devtools)
4. Send message

Actual: _instantly added ✓indicator_
Excepted: _no ✓ indicator (until the connection is re-established)_

[2022-11-05 11:16] GabrieleCicconetti opened #146 "Cannot register"
I'm trying to register a user but i get this error

[code]

Is this a new requirement by xmpp?
Can i send an iq by my self with the library

thank you!!

[2022-11-16 15:10] CodeBast4rd commented on #146
This is the requirement of the server you try to register on. Each administrator can set their own requirements for their server.

`Can i send an iq by my self with the library`

Checkout the register plugin.

You can establish an anonymous connection by yourself.
And send then the ReqistrationForm to the server:
[code]

[2022-11-16 15:12] #146 closed

[2022-11-16 15:13] CodeBast4rd commented on #145
Thank you for the issue and MR will take care of it this week.